.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

/* Layout */

.header {
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav_link {
  text-decoration: none;
  color: #333; 
  font-size: 18px;
  padding: 10px 20px;
  transition: color 0.3s, background-color 0.3s;
}

.nav_link:hover {
  color: #555;
  background-color: #e9ecef;
  border-radius: 5px;
}

/* Books */

.table-container {
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #4CAF50;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table td {
  color: #333;
}

.table-caption {
  caption-side: top;
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Banner */

.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.banner_image {
  width: 100vw;
  height: 100vh;
}

.banner_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 100px;
  border-radius: 10px;
}

.banner_title {
  font-size: 36px;
  margin: 0;
}

.banner_text {
  font-size: 18px;
  margin: 10px 0;
}

.banner_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.banner_list_item {
  font-size: 16px;
  margin: 5px 0;
}

/* About us*/

.aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  max-width: var(--max-width);    
  width: 100%;
}

.aboutus-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.aboutus-image-wrapper {
  width: 50%;
  position: relative;
  overflow: hidden;
  height: 400px;
}

.aboutus-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutus-paragraph {
  margin-left: 20px;
  font-size: 24px;
  max-width: 600px;
}

.aboutus-list {
  margin-left: 20px;
  list-style-type: none;
  font-size: 24px;
  padding: 0;
}

.aboutus-list-item {
  margin-bottom: 5px;
}

/* Gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 10px;
  width: 100%;
  height: 100%;
}

.gallery-item {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Form */
.form-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: rgb(var(--background-start-rgb));
}


.form-group {
  max-width: 900px;
  margin:  10px auto;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: rgb(var(--foreground-rgb));
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(172, 175, 176);
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(var(--tile-start-rgb));
  color: rgb(var(--foreground-rgb));
}

.form-group textarea {
  height: 150px;
}

.button-container {
  text-align: center;
}

.button-container button {
  background: blue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.button-container button:hover {
  background: rgb(0, 0, 150);
}

.success-message {
  margin-top: 20px;
  color: green;
  font-size: 18px;
}

/* New Books Lsit*/
.new_books {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.new_books_container {
  display: flex;
  gap: 20px;
}

.new_books_list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.new_books_list li {
  margin-bottom: 10px;
}

.new_books_list_btn {
  background: #ffffff;
  color: #333;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, border-color 0.3s ease;
  width: 100%;
  text-align: left;
  font-size: 16px;
  border: 1px solid #eee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new_books_list_btn_selected {
  background: #e6f9fa;
}

.new_books_list_btn:hover {
  background: #e6f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selected_book_container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected_book_container h3{
  height: 50px;
}

.selected_book_details_container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.selected_book_details_container img {
  width: 300px;
  height: 400px;
}


.selected_book_container_description {
  width: 100%;
  color: #555;
}

.selected_book_container_description p {
  margin: 0;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}
